@import '../../config';

form {
    @include flex(flex-start, center, column);
    height: auto;
    min-width: 450px;
    padding: 100px 50px;

    @extend %glassmorphism;

    h1 {
        @include primary-font($headerSize, $headerWeight);
        color: $faintWhite;
        margin-bottom: 30px;
        &:after {
            content: "";
            display: block;
            margin: auto;
            height: 5px;
            width: 100%;
            background: $faintWhite;
            border-radius: 10px;
        }
    }
    .text-input,
    select {
        padding: 10px 15px;
        margin-bottom: 20px;
        width: 100%;
        color: $faintWhite;
        @include primary-font(1rem, 500);

        @extend %glassmorphism;

        &::placeholder {
            color: $faintWhite;
            @include primary-font(1rem, 500);
        }
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;       /* Remove default arrow */
        .option {
            color:black;
            @include primary-font(1rem, 500);
        }
    }

    
    .submit-button {
        @include primary-font(1.4rem, 600);
        color: #505050;
        padding: 10px 30px;
        border-radius: 30px;
        margin: 5px 0 30px 0;
        cursor: pointer;
        background: white;
        box-shadow: 0 5px 32px 0 rgba(255, 255, 255, 0.5);
        border: none;
    }
    h3 {
        @include primary-font(1rem, 500);
        color: $faintWhite;
        .register-link {
            @include primary-font(1rem, 600);
            color: $faintWhite;
        }
    }
}

@media only screen and (min-width: 280px) and (max-width: 700px) {
    form {
        height: 100vh;
        width: 100vw;
        min-width: auto;
    }
}